h1{
    text-align: center;
    color: #333;
}
.containerr {
    display: flex;
    flex-direction: column; /* stack inputs vertically */
    align-items: center;
    gap: 10px;
    padding: 30px;
    background-color: aquamarine;
    text-align: center;
    margin: 0px 300px 0px 300px;
}

.input {
    width: 200px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}